.bookmarks-background {
  background-image: url("https://wallpaperaccess.com/full/1567666.png");
  background-size: cover ;
  background-attachment: fixed;
}
.bookmark-blur {
  backdrop-filter: blur(7px);

}
