// Specific CSS for your home-page
html {
  height:100%;
}

body {
  margin:0;
  background-image: url("https://wallpaperaccess.com/full/1567666.png");
  background-size: cover ;
}

.section {
  height: 100vh;
}

.bg {
  animation:slide 8s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #E9C46A 50%, #42798F 50%);
  bottom:0;
  left:-50%;
  opacity:.1;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:9s;
}

.bg3 {
  animation-duration:10s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
// actual css
.container {
  width: 75vw;
  margin: 0 auto;
}
.content {
  margin-top: 10vh;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
h1, h2, a, h3 {
  color: #F3F3F3;
}
h1, h2, h3 {
  text-shadow: 1px 1px 4px #292828;
}
h1 {
  font-size: 76px;
  margin-bottom: 10px;
}
h2 {
  font-size: 28px;
}

// .sentence {
//   font-size: 10px;
//   color: #F3F3F3;
//   text-shadow: 1px 1px 4px #292828;
//   padding-bottom: 15px;
// }

#sentence {
  color: #F3F3F3;
  text-shadow: 1px 1px 4px #292828;
  font-size: 12px;
  width: 76ch;

  p {
    margin-top: 30px;
  }
}

p {
  color: #F3F3F3;
  text-shadow: 1px 1px 4px #292828;
  font-size: 20px;
}
a {
  cursor: pointer;
}
.big {
  padding: 70px;
  text-decoration: none;
  font-size: 38px;
  text-shadow: 1px 1px 4px #292828;
  border-radius: 5px;
  transform: skew(-20deg);
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,0.06);
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
  &:hover {
    text-shadow: 1px 1px 6px white;
    color: #F3F3F3;
  }
}

.info-box {
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  text-shadow: 1px 1px 4px #292828;
  transform: skew(-20deg);
  border-bottom: 4px solid #74b2e0;
  border: 4px solid #74b2e0;
  width: 800px;
  padding: 43px;
  text-align: center;
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;

}

.title {
  // margin: 4rem;
  // margin-top: 5rem;
  // // margin-bottom: 5rem;
  // margin-left: 8rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#roles {
  border-top: 4px solid #74b2e0;
  border-left: 4px solid #74b2e0;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  &:hover {
    border: 4px solid #74b2e0;
  }
}

#skills {
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #74b2e0;
  border-right: 4px solid #74b2e0;
  &:hover {
    border: 4px solid #74b2e0;
  }
}

.yellow-background {
  background-image: url("yellow.png");
  background-size: cover;
  transition: all 0.6s;
}
.blue-background {
  background-image: url("blue.png");
  background-size: cover;
  transition: all 0.6s;
}

.skew-fix {
  display:inline-block;
  transform: skew(20deg);
}

.flex {
  display: flex;
  width: 100vh;
  height: 100vh;
  align-items: center;
  margin: 0 auto;

}
h3 {
  font-size: 36px;
  margin-bottom: 41px;

}
.arrow-up {
  border: solid #F3F3F3;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-137deg);
  padding: 15px;
  position: absolute;
  top: -6rem;
  left: 19rem;
  box-shadow: 1px 1px 4px #292828;
  box-shadow: 4px 4px 3px 0 #74b2e0;
}
.skills-btn-small {
  position: absolute;
  top: -7rem;
  left: -8rem;
  border-top: 4px solid #74b2e0;
  border-left: 4px solid #74b2e0;
  font-size:20px;
  padding:10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}


.skills-btn-small-roles {
  position: absolute;
  top: -7rem;
  left: -8rem;
  border-bottom: 4px solid #74b2e0;
  border-right: 4px solid #74b2e0;
  font-size:20px;
  padding:10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}


.explore-more {
  text-decoration: none;
  font-size: 26px;
  padding: 24px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.06);
  position: absolute;
  top: 20rem;
  left: 20rem;
  border: 4px solid #74b2e0;
  text-shadow: 1px 1px 4px #292828;
}
.skills-btn-small, .explore-more {
  &:hover {
    color:#F3F3F3;
  }
}
.tags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 34px;

}
.tag-btns {
  font-size:22px;
  padding:10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.06);
  text-decoration: none;
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
  &:hover {
    border: 4px solid #74b2e0;
    text-shadow: none;
    color: #74b2e0;
  }

}
.role-tag {
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #74b2e0;
  border-left: 4px solid #74b2e0;
  }

.skill-tag {
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid #74b2e0;
  border-right: 4px solid #74b2e0;
}
@media screen and (min-width: 1350px) {
  .title {
    margin: 4rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
    margin-left: 8rem;
  }
}
// @media screen and (max-height: 631px) {
//   .skills-btn-small {
//     position: absolute;
//     top: -6rem;
//     left: -8rem;
//     border-bottom: 4px solid #74b2e0;
//     border-right: 4px solid #74b2e0;
//     font-size: 20px;
//     padding: 10px;
//     -webkit-backdrop-filter: blur(10px);
//     backdrop-filter: blur(10px);
//     background-color: rgba(255, 255, 255, 0.06);
//   }
//   .arrow-up {
//     border: solid #F3F3F3;
//     border-width: 0 10px 10px 0;
//     display: inline-block;
//     padding: 3px;
//     transform: rotate(-135deg);
//     -webkit-transform: rotate(-137deg);
//     padding: 15px;
//     position: absolute;
//     top: -3rem;
//     left: 13rem;
//     box-shadow: 1px 1px 4px #292828;
//     box-shadow: 4px 4px 3px 0 #74b2e0;
//   }
//   .info-box {
//     background-color: rgba(255, 255, 255, 0.06);
//     -webkit-backdrop-filter: blur(10px);
//     backdrop-filter: blur(10px);
//     text-shadow: 1px 1px 4px #292828;
//     transform: skew(-20deg);
//     border-bottom: 4px solid #74b2e0;
//     border: 4px solid #74b2e0;
//     width: 709px;
//     padding: 13px;
//     text-align: center;
//   }
//   p {
//     color: #F3F3F3;
//     text-shadow: 1px 1px 4px #292828;
//     font-size: 12px;
//   }

//   h3 {
//     font-size: 32px;
//     margin-bottom: 19px;
//   }
//   .explore-more {
//     text-decoration: none;
//     font-size: 23px;
//     padding: 15px;
//     -webkit-backdrop-filter: blur(10px);
//     backdrop-filter: blur(10px);
//     background-color: rgba(255, 255, 255, 0.06);
//     position: absolute;
//     top: 15rem;
//     left: 12rem;
//     border: 4px solid #74b2e0;
//     text-shadow: 1px 1px 4px #292828;
//   }

// }
// @media screen and (max-height: 660px) {
//   .title {
//     margin: 4rem;
//     margin-top: 5rem;
//     margin-bottom: 1rem;
//     margin-left: 8rem;
//   }
//   .big {
//     text-decoration: none;
//     font-size: 28px;
//     text-shadow: 1px 1px 4px #292828;
//     border-radius: 5px;
//     transform: skew(-20deg);
//     -webkit-backdrop-filter: blur(10px);
//     backdrop-filter: blur(10px);
//     background-color: rgba(255, 255, 255, 0.06);
//   }

// }
// @media screen and (min-height: 660) {
//   .title {
//     margin: 4rem;
//     margin-top: 5rem;
//     margin-bottom: 4rem;
//     margin-left: 8rem;
//   }
// }
