.show-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  height: calc(100vh - 66px);
}

.left-column {
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  width: 50px;

}

.mid-column {
  justify-content: space-between;
  background-color: white;
  align-items: stretch;
  position: relative;
  flex: 1 0 auto;
}

.right-column {
  justify-content: space-between;
  background-color: rgb(0, 105, 128);
  align-items: stretch;
  position: relative;
  width: 300px;
}

.icon-container {
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 150px;
}

.mid-column-content {
  h1 {
    color: black;
    font-size: 40px;
    margin-left: 20px;
    text-shadow: none;
  }

  h2 {
    color: black;
    font-size: 30px;
    margin-left: 20px;
    text-shadow: none;
  }

  p {
    color: black;
    font-size: 15px;
    margin-left: 20px;
    text-shadow: none;
  }

}

.author-top-middle-column {
  display: flex;
  justify-content: space-between;
}


.count {
  position: absolute;
  bottom: -8px;
  left: -8px;
  p {
    font-size: 12px;
  }
}
