.show-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  background-color: #F3F3F3;
}

.left-column {
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  width: 50px;
  height: calc(100vh - 66px)

}

.mid-column {
  justify-content: space-between;
  background-color: white;
  align-items: stretch;
  position: relative;
  flex: 1 0 auto;

}

.right-column {
  justify-content: space-between;
  background-color: #F3F3F3;
  align-items: stretch;
  position: relative;
  width: 300px;
  padding: 15px;
  .name-and-avatar {
    display:flex;
    .name-position {
      margin-left: 10px;
    }
    #post-avatar {
      width: 64px;
      border-radius: 50%;
      height: 64px;
    }
  }
  h2, h3{
    color: black;
    text-shadow: none;
  }
  h2 {
    font-size: 22px;

  }
  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  p {
    color: #807b7b;
    text-shadow: none;
    font-size: 16px;
  }
  .top-margin {
    margin-top: 37px;
  }
}

.icon-container {
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 150px;
}

.mid-column-content {
  h1 {
    color: black;
    font-size: 35px;
    margin-left: 20px;
    text-shadow: none;
    padding-bottom: 10px;
  }

  h2 {
    color: black;
    font-size: 25px;
    margin-left: 20px;
    text-shadow: none;
    padding-bottom: 10px;
  }

  p {
    color: black;
    font-size: 15px;
    margin-left: 20px;
    text-shadow: none;
  }

}

.author-top-middle-column {
  display: flex;
  justify-content: space-between;
}


.count {
  position: absolute;
  bottom: -8px;
  left: -8px;
  p {
    font-size: 12px;
  }
}

.text-container {
  h1, h2, p {
    width: 700px;
  }
}
