.index-container {
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.35);
  min-height: 100vh;

  #select-margin {

  }
}
.background-container {
  min-height: 100vh;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 100vh;
}
.mb-3 {
  margin-top: 20px !important;
}
#results {
  color: #3f3f3f;
  text-shadow: none;
  font-size: 30px;
}

.post-container{
  padding: 15px;
  width: 805px;
  transform: skew(-20deg);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  margin: 10px 0;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.18);
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 157px;
  padding-bottom: 0;
  &:hover {
    box-shadow: #74b2e0 2px 2px 7px 0px;
  }

}

.post-details {
  position: relative;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  width: 21vh;
  justify-content: space-between;
  p {
    color: #3f3f3f;
    text-shadow:none;
  }
  a {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
    width: max-content;
  }
}

#bookmark-icon {
  position: absolute;
  right: 0px;
  top: 55px;
}
