
.index-container {
  width: 0 auto;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.45);
  min-height: 100vh;

  #select-margin {
    margin-right: 0px;
  }
}
.background-container {
  min-height: 100vh;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 100vh;
}

#results {
  color: #3f3f3f;
  text-shadow: none;
  font-size: 30px;
}

.results-container {
  margin-left: 20px;
}

.post-container{
  padding: 15px;
  width: 700px;
  transform: skew(-20deg);
  backdrop-filter: blur(1rem);
  margin: 1.5em 0;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.18);
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
  &:hover {
    box-shadow: #74b2e0 2px 2px 7px 0px;
  }
}
