<div class="comment-box"  data-comments-id-value="<%= @comment.id %>">
  <h2>Community Comments</h2>
    <div data-comments-target="comments">
      <% if !@comments.empty? %>
        <% @comments.sort_by { |comment| comment.created_at }.reverse.each do |comment| %>
        <%= render "comment", comment: comment %>
        <% end %>
      <% end %>
    </div>
</div>
