<div
  data-controller="comments"
  data-comments-id-value="<%= @chatroom.id %>"
>
  <div id="new-comment" class="new-comment-box">
    <%= simple_form_for [ @post, @comment ], form: { data: { comments_target: "comment" }} do |f| %>
    <%= f.input :text, label: "Leave your comments here!" %>
    <%= f.submit %>
    <% end %>
  </div>
</div>
