<div id="icons-top-right">
    <div data-controller="post-upvote">
      <div class="upvote-button">
        <%= render "upvote" %>
      </div>
      <div class="count" data-post-upvote-target="count">
        <%= pluralize(@post.votes.count, "vote") %>
      </div>
    </div>

  <div class="icon btn btn-primary">
    <i class="far fa-comment-alt"></i>
  </div>
  <div class="icon btn btn-primary">
    <% if @bookmark.persisted? %>
      <%= link_to bookmark_path(@bookmark), method: :delete do %>
        <i class="fas fa-solid fa-bookmark"></i>
      <% end %>
    <% else %>
      <%= link_to post_bookmarks_path(@post), method: :post, data: {user: current_user} do %>
        <i class="far fa-bookmark"></i>
      <% end %>
    <% end %>
  </div>
</div>
