<div id="icons-top-right">
    <div data-controller="post-upvote">
      <div class="upvote-button">
        <%= render "upvote" %>
      </div>
      <div class="count" data-post-upvote-target="count">
        <%= pluralize(@post.votes.count, "vote") %>
      </div>
    </div>

  <div class="icon btn btn-primary">
    <%= link_to post_path(@post, anchor: "new-comment") do %>
      <i class="far fa-comment-alt"></i>
    <% end %>
  </div>
  <div class="icon btn btn-primary upvote-button">
    <%= render "bookmark" %>
  </div>
</div>
