 <div class="left-column">
    <div class="icon-container">
      <div id="bookmark" class="btn btn-primary">
        <i class="far fa-bookmark"></i>
      </div>
      <div id="chat"class="btn btn-primary">
        <i class="far fa-comment-alt"></i>
      </div>
      <div id="comment"class="btn btn-primary">
        <i class="far fa-edit"></i>
      </div>
    </div>
  </div>
