<div class="sidebar">


  <div class="sidebar-icon-container">
    <div class="sidebar-link" data-controller="sidebar-link" data-action="mouseover->sidebar-link#enter mouseout->sidebar-link#leave" >
      <%= link_to root_path, class: "icon btn btn-primary",
        data: { sidebar_link_target: "link" } do %>
        <i class="fas fa-home"></i>
      <% end %>

      <div class="hidden popup" id="home" data-sidebar-link-target="popup">
        <p class="popup-text">bangHome</p>
      </div>
    </div>

   <div class="sidebar-link" data-controller="sidebar-link" data-action="mouseover->sidebar-link#enter mouseout->sidebar-link#leave" >
     <%= link_to posts_path, class: "icon btn btn-primary",
     data: { sidebar_link_target: "link" } do %>
     <i class="fas fa-arrow-left"></i>
       <% end %>

      <div class="hidden popup" id="bback" data-sidebar-link-target="popup">
        <p class="popup-text">bangBack</p>
      </div>
    </div>

   <div class="sidebar-link"  data-controller="sidebar-link" data-action="mouseover->sidebar-link#enter mouseout->sidebar-link#leave" >
    <%= link_to bookmarks_path, class: "icon btn btn-primary",
    data: { sidebar_link_target: "link" } do %>
    <i class="far fa-bookmark"></i>
     <% end %>

      <div class="hidden popup" id="book" data-sidebar-link-target="popup">
        <p class="popup-text">My Bookmarks</p>
      </div>
    </div>

    <%# make id for this to make my bookmarks look better %>

   <div class="sidebar-link" data-controller="sidebar-link" data-action="mouseover->sidebar-link#enter mouseout->sidebar-link#leave" >
       <%= link_to user_signed_in? ? "/posts/new" : new_user_session_path, class: "icon btn btn-primary" do %>
         <i class="far fa-edit"></i>
         <% end %>

    <div class="hidden popup" id="create" data-sidebar-link-target="popup">
        <p class="popup-text">Create a Post</p>
      </div>
    </div>
    <div>
    </div>
  </div>

    </div>
