 <div class="left-column">
    <div class="icon-container">
      <div class="bookmark btn btn-primary">
        <i class="far fa-bookmark"></i>
      </div>
      <div class="chat btn btn-primary">
        <i class="far fa-comment-alt"></i>
      </div>
      <div class="comment btn btn-primary">
        <i class="far fa-edit"></i>
      </div>
    </div>
  </div>
