<% if @vote %>
  <%= button_to "remove vote",
    { action: "upvote" },
    method: :patch,
        form: {
          data: {
            post_upvote_target: "button",
            action: "submit->post-upvote#toggle"
          }
        } %>
<% else %>
  <%= button_to "upvote",
    { action: "upvote" },
    method: :patch,
        form: {
          data: {
            post_upvote_target: "button",
            action: "submit->post-upvote#toggle"
          }
        } %>
<% end %>

<div data-controller="bookmark">
  <% if @bookmark.persisted? %>
    <%= link_to bookmark_path(@bookmark), method: :delete do %>
      <i class="fas fa-solid fa-bookmark"></i>
    <% end %>
  <% else %>
      <%= link_to post_bookmarks_path(@post), method: :post, data: {user: current_user} do %>
        <i class="far fa-bookmark"></i>
    <% end %>
  <% end %>
</div>
