<div data-controller="post-upvote">
<%= @post.title %>
<%= @post.blurb %>
<div data-post-upvote-target="count">
  <%= pluralize(@post.rating, "vote") %>
</div>
  <%= button_to "upvote", { action: "upvote" }, method: :patch,
      form: {
        data: {
        post_upvote_target: "button",
        action: "submit->post-upvote#toggle"
        }
      } %>
</div>
