
// #exc {
//   color: black;
//   font-size: 20px;
// }

// .author-top-middle-column {
//   color: grey;
// }


parrallelogram {
    padding: 100px;
    border-top: 4px solid #74b2e0;
    border-left: 4px solid #74b2e0;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
}
