.right-card {
  justify-content: space-between;
  background-color: rgb(0, 105, 128);
  align-items: stretch;
  position: relative;
  width: 300px;
}

.posts-title {
  margin-top: 25px;
  margin-bottom: 35px;

  h1 {
    margin: 0;
  }
}

.post {
  overflow: hidden;
  height: 180px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(1rem);
  h2, p {
    text-shadow: none;
    color: #f3f3f3;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    font-weight: lighter;
  }
  img {
    height: 100%;
    width: 120px;
    -o-object-fit: cover;
    object-fit: cover;
}
}

.post .post-content {
padding: 16px;
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
position: relative;
}

.post-content .post-user {
position: absolute;
right: 16px;
top: -20px;
width: 40px;
}

.post-text {
width: 100%;
padding-top: 10px;
p {
  text-align: justify;
  padding-right: 16px;
}
}

.post-right a {
text-decoration: none;
}

#results {
  font-size: 30px;
  color: black;
  text-shadow: none;
}

.author {
  margin-top: 9rem;
  p {
    font-size: 8px ;
  }
}

.form-label {
  color: black;
}

.btn {
  color: white;
}
