.right-card {
  justify-content: space-between;
  background-color: rgb(0, 105, 128);
  align-items: stretch;
  position: relative;
  width: 300px;
}

.posts-title {
  margin-top: 25px;
  margin-bottom: 35px;

  h1 {
    margin: 0;
    font-weight: 200px;
  }
}

.post {
  overflow: hidden;
  height: 161px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
    /* box-shadow: #74b2e0 0px 0px 4px 0px; */
    /* transform: skew(-20deg); */
  transform: skew(20deg);
  h2, p {
    text-shadow: none;
    color: #3f3f3f;
  }

  h2 {
    font-size: 20px;
    font-weight: 200px;
  }

  p {
    font-size: 14px;
    font-weight: lighter;
  }
  img {
    height: 41%;
    width: auto;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.post .post-content {
padding: 16px;
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
position: relative;
}

.post-content .post-user {
position: absolute;
right: 16px;
top: -20px;
width: 40px;
}

.post-text {
width: 100%;
padding-top: 10px;
p {
  text-align: justify;
  padding-right: 16px;
}
}

.post-right a {
text-decoration: none;
}



.author {
  text-shadow: 1px 1px 1px #f3f3f3;
  p {
    font-size: 8px ;
    margin-bottom: 7px;
    margin-right: 8px;
  }
}

.form-label {
  color: black;
}

.btn {
  color: white;
}
.text-decoration-none  {
  width: 100vh;
}
.col-sm-8 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
