.sidebar-icon-container {
  flex-direction: column;
}

.upvote-button {
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  background-color: transparent;
}

.upvote-button:focus {
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
}

.far{
  font-size: 25px;
  justify-content: center;
  border: none;
}

.fas{
  font-size: 25px;
  justify-content: center;
  border: none;
}

.sidebar-icon-container, #icons-top-right {
  display: flex;
  position: relative;
  button:focus {
    outline:none
  }
  .icon {
    a {
      text-decoration: none;
      color: inherit;
    }
    color: rgba($color: #000000, $alpha: 0.4);
    background-color: transparent;
    border: none;
    padding: 16px 10px;
    transition: all 0.4s;
    text-shadow: 0 2px 6px rgba(0,0,0,0.08);
    &:hover {
      color:#74b2e0;
    }
  }

  .bold-icon {
    font-weight: bolder;
    color: #74b2e0;
  }
}
