.navbar-home {
  display: flex;
  justify-content: space-between;
  color: #F3F3F3;
  font-size: 20px;
  padding-top: 12vh;

  p {
    font-size: 20px;
  }

  .login {
    a:hover{
      color: #74b2e0;
    }
  }
}
