.tag-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tag-item {
  flex: 0 0 30%;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.tag-selector:checked + label {
  color: white !important;
}


#tag_tag_roles + label {
  color: #E9C46A;
}

#tag_tag_roles:checked + label {
  background-color: #E9C46A;
  border-color: #E9C46A;
}


#tag_tag_skills + label {
  color: #42798F;
}

#tag_tag_skills:checked + label {
  background-color: #42798F;
  border-color: #42798F;
}

.tag-item-2 {
  flex: 0 0 20%;
  display: inline-block;
}

.tag-selector-roles {
  position: absolute;
  transform: scale(0);
}

.tag-selector-roles + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 3rem  3rem;
  background-color: #fffefb;
  color: #E9C46A;
  border: 1px solid #E9C46A;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  margin-bottom: 0.4rem;
}

.tag-selector-roles:hover + label {
  background-color: #E9C46A;
  color: white;
}

.tag-selector-skills {
  position: absolute;
  transform: scale(0);
}

.tag-selector-skills + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 3rem  3rem;
  background-color: #fffefb;
  color: #42798F;
  border: 1px solid #42798F;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  margin-bottom: 0.4rem;
}

.tag-selector-skills:hover + label {
  background-color: #42798F;
  color: white;
}
