.sidebar-icon-container {
  background-color: transparent;
  flex-direction: column;
  // position: relative;
  // display: flex;
  align-items: center;
  align-content: center;
  width: 100px;
  padding: 8px;
}

.sidebar {
  background-color: transparent;
  // position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100px;
  position: sticky;
  top: 0;
  height: 100vh;
  border-right: 4px solid #74b2e0;
}

.icon btn btn-primary {
  color: grey;
}
